{
  "serverDomain" : "DOMAIN",
  "workerThreads" : 10,
  "eventCapture": {
      "localAddress" : [ "0.0.0.0" ],
      "publicAddress" : "IP",
      "http": {
         "ports" : 3380
       },
      "https": {
          "ports" : 33443
      },
      "smtp": {
          "ports" : [3325, 33587]
      },
      "smtps": {
          "ports" : 33465
      },
      "ssl": {
          "certificateFiles" : [
              "/opt/burp/keys/privkey.pem",
              "/opt/burp/keys/cert.pem",
              "/opt/burp/keys/fullchain.pem" ]
      }
  },
  "polling" : {
      "localAddress" :  "0.0.0.0",
      "publicAddress" :  "IP",
      "http": {
          "port" : 39090
      },
      "https": {
          "port" : 39443
      },
      "ssl": {
          "certificateFiles" : [
              "/opt/burp/keys/privkey.pem",
              "/opt/burp/keys/cert.pem",
              "/opt/burp/keys/fullchain.pem" ]

      }
  },
  "metrics": {
      "path" : "jnaicmez8",
      "addressWhitelist" : ["127.0.0.1/32"]
  },
  "dns": {
      "interfaces" : [{
          "name":"NS",
          "localAddress":"0.0.0.0",
          "publicAddress":"IP"
      }],
      "ports" : 3353
   },
   "logLevel" : "DEBUG"
}
